body{
	background: silver;
	font-size: 150%;
}
#calculatorsbody{
	background: black;
	font-size: 1em;
	color: orange;
	width: 30%;
	height: 70%;
	margin: .5em .5em;
	border: 0.1em solid gray;
}
#menubars{
	margin: 0.1em 0.1em;
}
.menubarobjects{
	padding: .5em;
	margin: 0.1em 0.1em;
	float: left;
}
#numberField{
	padding: .5em;
	text-align: right;
	margin: .1em .1em;
	border: 0.1em solid grey;
	clear: both;
	font-size: 1.2em;
}
table{
	background: black;
	width: 100%;
	font-size: 2em;
	text-align: center;
	color: orange;
}
.functionButton{
	border-radius: 30%;
	background: black;
	border: none;
	color: orange;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .7em;
	border: 0.1em solid gray;
}