body{
	background: silver;
	font-size: 150%;
}
#calculatorsbody{
	background: black;
	font-size: 1em;
	color: orange;
	width: 40%;
	height: 90%;
	margin: .5em .5em;
	border: 0.1em solid gray;
}
#menubars{
	margin: 0.1em 0.1em;
}
.menubarobjects{
	padding: .5em;
	margin: 0.1em 0.1em;
	float: left;
}
#numberfield{
	padding: .5em;
	text-align: right;
	margin: .1em .1em;
	border: 0.1em solid grey;
	clear: both;
}
table{
	background: black;
	width: 100%;
	font-size: 2em;
	text-align: center;
	color: orange;
}
td{
	padding: .5em;
}